<%= render "shared/content_title", title_var: "User Profile Info" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
  </dl>
</div>

<h5><%= "#{@user.username}'s Activity" %></h5>

<ul class='nav nav-tabs'>
  <li class='<%= "active" if params[:tab].nil? %>'>
	<%= link_to("Posts (#{@user.posts.length})", user_path(@user)) %>
  </li>
  <li class='<%= "active" if params[:tab] == "comments" %>'>	
	<%= link_to("Comments (#{@user.comments.length})", user_path(@user, tab: "comments")) %>
  </li>
</ul>

<% if params[:tab] == "comments" %>
	<%= render "shared/comment_list", {comments_list: @user.comments, show_post_link: true} %>
<% else %>
	<%= render "posts/post_list", post_list: @user.posts %>
<% end %>
