<%= render "shared/content_title", title_var: "User Profile Info" %>

<div class='well'>
  <dl class='dl-horizontal'>
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
    <dt>Role:</dt>
    <dd><%= @user.role.blank? ? "None" : @user.role %></dd>
    <dt>Time Zone:</dt>
    <dd><%= @user.time_zone.blank? ? "None Set" : @user.time_zone + " (GMT" + ActiveSupport::TimeZone.create(@user.time_zone).formatted_offset(true) + ")" %></dd>
  </dl>
</div>

<h5><%= "#{@user.username}'s Activity" %></h5>

<ul class='nav nav-tabs'>
  <li class='<%= "active" if params[:tab].nil? %>'>
    <%= link_to("Posts (#{@user.posts.length})", user_path(@user)) %>
  </li>
  <li class='<%= "active" if params[:tab] == "comments" %>'>	
    <%= link_to("Comments (#{@user.comments.length})", user_path(@user, tab: "comments")) %>
  </li>
  <li class='<%= "active" if params[:tab] == "votes" %>'>  
    <%= link_to("Votes (#{@user.votes.length})", user_path(@user, tab: "votes")) %>
  </li>
</ul>

<% if params[:tab] == "comments" %>
	<%= render "shared/comment_list", {comments_list: @user.comments, show_post_link: true} %>
<% elsif params[:tab] == "votes" %>
  <%= render "shared/vote_list", {vote_list: @user.votes} %>
<% else %>
	<%= render "posts/post_list", post_list: @user.posts %>
<% end %>
