<% if vote_list %>
  <% vote_list.sort_by{|x| x.created_at}.reverse.each do |v| %>
    <div class="row">

      <%= "<div class='span0 well text-center' style='#{v.vote == true ? style='background-color: lightgreen;' : style='background-color: #FF66CC;'}'>".html_safe %>
        <%= v.vote == true ? "<i class='icon-thumbs-up'></i>".html_safe : "<i class='icon-thumbs-down'></i>".html_safe %>
        on
        <%= pretty_time_string(v.created_at) %>
      </div>

      <% if v.voteable_type == "Post" %>
        <% p = Post.find(v.voteable_id) %>
        <%= render "posts/post_entry", {post_var: p, show_vote_box: "no"} %>
      <% elsif v.voteable_type == "Comment" %>
        <% c = Comment.find(v.voteable_id) %>
        <%= render "shared/comment_entry", {var_comment: c, show_post_link: true, show_vote_box: "no"} %>
      <% else %>
        <p>Unknown object voted on</p>
      <% end %>

    </div>
  <% end %>
<% end %>
