<!-- takes in three variables: -->
<!-- url_up_var which is the function/helper to generate the right URL  for up vote -->
<!-- url_down_var which is the function/helper to generate the right URL for down vote -->
<!-- and obj_var which is the object for which the voting is being performed -->
<% if obj_var.total_vote_score > 0 %>
  <% vote_style_by_score = positive_voted_entry_style() %>
<% elsif obj_var.total_vote_score < 0 %>
  <% vote_style_by_score = negative_voted_entry_style() %>
<% else %>
  <% vote_style_by_score = neutral_voted_entry_style() %>
<% end %>

<%= "<div id=\"#{obj_prefix_str_var}_votes_box\" vote_score=\"#{obj_var.total_vote_score}\" class=\"span2 well text-center #{vote_style_by_score}\">".html_safe %>
  <% if current_user_get %>
    <%= link_to url_up_var, method: "post", remote: true do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    
  <% end %>
  
  <div style="font-size: 18px;">
    <strong>
      <span id="<%= obj_prefix_str_var %>_votes">
        <%= "#{obj_var.total_vote_score}" %>
      </span>
    </strong>
    <span class='quiet' style="font-size: 12px;">
      <em>from&nbsp;<span id="<%= obj_prefix_str_var %>_votes_total"><%= "#{obj_var.total_vote_count_string}"%></span></em>
    </span>
  </div>
  <% if current_user_get %>
    
    <%= link_to url_down_var, method: "post", remote: true do %>
      <i class="icon-arrow-down"></i>
    <% end %>
  <% end %>
</div>
