<%= render "shared/content_title", {title_var: title_var, url_var: local_assigns[:url_var]} %>

<% create_button_string = @post.new_record? ? "Create Post" : "Update Post" %>

<%= render "shared/errors_display", errors_set: @post.errors %>

<div class="well">

	<%= form_for @post do |f| %>
		<div class="control-group">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div class="control-group">
			<%= f.label :url %>
			<%= f.text_field :url %>
		</div>
		<div class="control-group">
			<%= f.label :description %>
			<%= f.text_area :description, rows: 5 %>
		</div>

		<!-- selector for the category -->
		<!-- f.checkboxes  -->
		<!-- ### use form helpers for check boxes for categories -->
<!--
	<% if false %>
		<select name="post[category_ids][]" multiple="multiple">
			<% Category.all.each do |c| %>
				
			<% end %>
		</select>
	<% end %>
-->
		


		<%= f.submit create_button_string || "Submit", 
			class: "btn btn-primary" %>
	<% end %>

</div>
