<%= render "shared/content_title", {title_var: title_var, url_var: local_assigns[:url_var]} %>

<% create_button_string = @post.new_record? ? "Create Post" : "Update Post" %>

<%= render "shared/errors_display", errors_set: @post.errors %>

<div class="well">

	<%= form_for @post do |f| %>
		<div class="control-group">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div class="control-group">
			<%= f.label :url %>
			<%= f.text_field :url %>
		</div>
		<div class="control-group">
			<%= f.label :description %>
			<%= f.text_area :description, rows: 5 %>
		</div>
		<div class="control-group">
		<%= f.label "Categories for Post" %>
		<%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) do |box| %>
			<% box.label(class: "checkbox inline") {box.check_box(class: "checkbox") + box.text } %>
		<% end %>
		</div>	

		<br/>
		<%= f.submit create_button_string || "Submit", class: "btn btn-primary" %>
	<% end %>

</div>

<!--
WORKING
    <div class='control-group'>
      <label for="post_Categories">Categories</label>
      <label class="checkbox inline" for="post_category_ids_1"><input class="checkbox" id="post_category_ids_1" name="post[category_ids][]" type="checkbox" value="1" />News</label><label class="checkbox inline" for="post_category_ids_2"><input class="checkbox" id="post_category_ids_2" name="post[category_ids][]" type="checkbox" value="2" />Programming</label><label class="checkbox inline" for="post_category_ids_3"><input class="checkbox" id="post_category_ids_3" name="post[category_ids][]" type="checkbox" value="3" />Education</label><label class="checkbox inline" for="post_category_ids_4"><input class="checkbox" id="post_category_ids_4" name="post[category_ids][]" type="checkbox" value="4" />Sports</label><label class="checkbox inline" for="post_category_ids_5"><input class="checkbox" id="post_category_ids_5" name="post[category_ids][]" type="checkbox" value="5" />Humor</label><input name="post[category_ids][]" type="hidden" value="" />    </div>
    <input class="btn btn-primary" name="commit" type="submit" value="Create Post" />
</form></div>

NOT WORKING

		
		<div class="control-group">
		<label for="post_Categories for Post">Categories for post</label>
		<input checked="checked" id="post_category_ids_1" name="post[category_ids][]" type="checkbox" value="1" /><label for="post_category_ids_1">Technology</label><input id="post_category_ids_2" name="post[category_ids][]" type="checkbox" value="2" /><label for="post_category_ids_2">Politics</label><input checked="checked" id="post_category_ids_3" name="post[category_ids][]" type="checkbox" value="3" /><label for="post_category_ids_3">Weather</label><input id="post_category_ids_4" name="post[category_ids][]" type="checkbox" value="4" /><label for="post_category_ids_4">Social</label><input id="post_category_ids_5" name="post[category_ids][]" type="checkbox" value="5" /><label for="post_category_ids_5">Religion</label><input id="post_category_ids_6" name="post[category_ids][]" type="checkbox" value="6" /><label for="post_category_ids_6">Web Development</label><input id="post_category_ids_7" name="post[category_ids][]" type="checkbox" value="7" /><label for="post_category_ids_7">Sewing</label><input id="post_category_ids_8" name="post[category_ids][]" type="checkbox" value="8" /><label for="post_category_ids_8">Autos</label><input id="post_category_ids_9" name="post[category_ids][]" type="checkbox" value="9" /><label for="post_category_ids_9">Television</label><input name="post[category_ids][]" type="hidden" value="" />
		</div>	

-->
