<!-- here we can create a button to edit the post -->
<p>
<%= render @post.categories %>
</p>

<p class="pull-right">
	<% if current_user_get == @post.creator %>
		[<%= link_to "Edit Post", edit_post_path(@post) %>]
	<% end %>
	[<%= link_to "Back to all Posts", posts_path %>]
</p>

<%= render "shared/content_title", {title_var: @post.title, url_var: fix_url(@post.url)} %>


<p>
	<%= @post.description %>
</p>
<hr/>

<% if logged_in? %>
	<%= form_for [@post, @comment] do |f| %>
		<%= render "shared/errors_display", errors_set: @comment.errors %>

		<div class="control-group">
			<%= f.label :body, "Leave a comment:" %>
			<%= f.text_area :body, rows: 5, class: "span4"  %>
		</div>

		<%= f.submit "Add Comment", class: "btn btn-primary" %>
	<% end %>
<% else %>
	<p style="padding-left: 12px;"><em>Log in to leave comments</em></p>
<% end %>

<hr/>

<% if @post.comments.size > 0 %>
	<h5>Comments:</h5>
	<% @post.comments.each do |c| %>
	<div class="well span8">
		<em>"<%= c.body %>"</em>
		<%= render "shared/poster_meta", {var_by: "by", var_obj: c} %>
	</div>
	<% end %>
<% end %>

<!-- the following is really just extra (debug-level) details info -->

<!--
<style>
	#table, th, td {
			padding: 15px;
			border: 1px solid green;
	}

	#cellcoll {
		background-color: lightblue;
	}

	#errstyle {
		color: red;
	}
</style>
-->
<% if false %>
<h4><%= "Post details for post " + '#' + "#{@post.id}" %></h4>

<table>
	<tr>
		<th>Field</th>
		<th>Value</th>
	</tr>
	<tr>
		<td id="cellcoll">Posted by</td>
		<% if @post.creator %>
			<td><%= @post.creator.username %></td>
		<% else %>
			<td id="errstyle">No one posted this!</td>
		<% end %>
	</tr>
	<tr>
		<td id="cellcoll">URL</td>
		<td><%= @post.url %></td>
	</tr>
	<tr>
		<td id="cellcoll">Title</td>
		<td><%= @post.title %></td>
	</tr>
	<tr>
		<td id="cellcoll">Description</td>
		<td><%= @post.description %></td>
	</tr>
</table>

<% end %>