<!-- here we can create a button to edit the post -->
<p>
<%= render @post.categories %>
</p>

<p class="pull-right">
	<% if allow_object_edit?(@post) %>
		[<%= link_to "Edit Post", edit_post_path(@post) %>]
	<% end %>
	[<%= link_to "Back to all Posts", posts_path %>]
</p>

<%= render "shared/content_title", {title_var: @post.title, url_var: fix_url(@post.url)} %>


<p>
	<%= @post.description %>
</p>

<%= render "shared/poster_meta", {var_by: "posted by", var_obj: @post} %>

<hr/>

<% if logged_in? %>
	<%= form_for [@post, @comment] do |f| %>
		<%= render "shared/errors_display", errors_set: @comment.errors %>

		<div class="control-group">
			<%= f.label :body, "Leave a comment:" %>
			<%= f.text_area :body, rows: 5, class: "span4"  %>
		</div>

		<%= f.submit "Add Comment", class: "btn btn-primary" %>
	<% end %>
<% else %>
	<p style="padding-left: 12px;"><em>Log in to leave comments</em></p>
<% end %>

<hr/>

<%= render "shared/comment_list", {comments_list: @post.reload.comments} %>

